/* IDC_ALIAS */ 0 CURSOR "./resources/cursors/aliasb.cur"
/* IDC_CELL */ 1 CURSOR "./resources/cursors/cell.cur"
/* IDC_COLRESIZE */ 2 CURSOR "./resources/cursors/col_resize.cur"
/* IDC_COPYCUR */ 3 CURSOR "./resources/cursors/copy.cur"
/* IDC_HAND_GRAB */ 4 CURSOR "./resources/cursors/hand_grab.cur"
/* IDC_HAND_GRABBING */ 5 CURSOR "./resources/cursors/hand_grabbing.cur"
/* IDC_PAN_EAST */ 6 CURSOR "./resources/cursors/pan_east.cur"
/* IDC_PAN_MIDDLE */ 7 CURSOR "./resources/cursors/pan_middle.cur"
/* IDC_PAN_MIDDLE_HORIZONTAL */ 8 CURSOR "./resources/cursors/pan_middle_horizontal.cur"
/* IDC_PAN_MIDDLE_VERTICAL */ 9 CURSOR "./resources/cursors/pan_middle_vertical.cur"
/* IDC_PAN_NORTH */ 10 CURSOR "./resources/cursors/pan_north.cur"
/* IDC_PAN_NORTH_EAST */ 11 CURSOR "./resources/cursors/pan_north_east.cur"
/* IDC_PAN_NORTH_WEST */ 12 CURSOR "./resources/cursors/pan_north_west.cur"
/* IDC_PAN_SOUTH */ 13 CURSOR "./resources/cursors/pan_south.cur"
/* IDC_PAN_SOUTH_EAST */ 14 CURSOR "./resources/cursors/pan_south_east.cur"
/* IDC_PAN_SOUTH_WEST */ 15 CURSOR "./resources/cursors/pan_south_west.cur"
/* IDC_PAN_WEST */ 16 CURSOR "./resources/cursors/pan_west.cur"
/* IDC_ROWRESIZE */ 17 CURSOR "./resources/cursors/row_resize.cur"
/* IDC_VERTICALTEXT */ 18 CURSOR "./resources/cursors/vertical_text.cur"
/* IDC_ZOOMIN */ 19 CURSOR "./resources/cursors/zoom_in.cur"
/* IDC_ZOOMOUT */ 20 CURSOR "./resources/cursors/zoom_out.cur"